.category-tabs {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 0 20px;
    margin: 0;
    margin-top: 15px;
}

.category-btn {
    padding: 10px 0px;
    min-width: 191px;
    background: var(--accent-color);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--text-color);

}

.category-btn:hover {
    background-color: #032f52;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.category-btn.active {
    background: var(--secondary-color);
    border: none;
    color: var(--text-color);
}


@media (max-width: 768px) {
    .category-tabs {
        gap: 18px;
        padding: 20px 0 15px;
        margin-top: 12px;
    }

    .category-btn {
        min-width: 150px;
        height: auto;
        padding: 8px 16px;
        font-size: 18px;
        line-height: 22px;
    }
}

@media (max-width: 480px) {
    .category-tabs {
        gap: 10px;
        padding: 18px 0 12px;
        margin-top: 10px;
    }

    .category-btn {
        min-width: 140px;
        height: auto;
        padding: 8px 14px;
        font-size: 16px;
        line-height: 20px;
    }
}