.cta-btn {
    padding: 10px 30px;
    color: var(--text-color);
    background-color: var(--accent-color);
    font-weight: 600;
    border: none;
    border-radius: 20px;
    font-size: var(--fs-small);
    transition: 0.1s ease;
    text-decoration: none;
}

.cta-btn:hover {
    outline: 1px solid var(--accent-color);
    outline-offset: -1px;
    background-color: var(--text-color);
    color: var(--accent-color);
}