.community-page {
    background: url("/pattern.png");
    background-repeat: repeat-y;
    padding-top: 80px;
}

.community-title-container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.community-title {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.title-page {
    font-size: var(--fs-large);
    font-family: "ThousandBrands";
    color: var(--secondary-color);
    font-weight: 100;
}

.community-title-container p {
    font-size: 18px;
    text-align: center;
    max-width: 550px;
    color: var(--primary-color);
    font-size: var(--fs-medium);
    line-height: 30px;
    font-weight: 400;
}

.divider {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.divider hr {
    width: 100%;
    background-color: var(--primary-color);
    opacity: 1;
    height: 2.5px;
    border-width: initial;
    border-style: none;
}

.divider img {
    width: 55px;
    height: 75px;
}

.community-cards {
    width: min(1200px, 92%);
    margin: 40px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
}

.community-cta {
    display: flex;
    justify-content: center;
    margin: 60px 0 80px;
}


@media (max-width: 980px) {
    .community-cards {
        grid-template-columns: 1fr;
    }
}