.footer {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.footer-top {
    max-width: 1500px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1.2fr repeat(4, 1fr) 1.2fr;
    gap: 2rem;
}

.footer-col h4 {
    font-size: var(--fs-medium);
    margin-bottom: 12px;
    color: var(--secondary-color);
}

.footer-col p,
.footer-col li {
    font-size: var(--fs-small);
    line-height: 1.5;
}

.footer-col ul {
    list-style: disc;
    padding-left: 1.2rem;
    margin: 0;
}

.footer-logo img {
    max-width: 120px;
}

.footer-social .footer-icons {
    display: flex;
    gap: 0.75rem;
}

.footer-social a {
    color: var(--text-color);
}


.footer-bottom {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .footer-top {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .footer-top {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-col ul {
        list-style: none;
        padding-left: 0;
    }

    .footer-social .footer-icons {
        justify-content: center;
    }
}