@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
}


:root {
  --background-color: #FFF8E8;
  --primary-color: #0E6CB4;
  --secondary-color: #F37123;
  --accent-color: #023052;
  --text-color: #FFFFFF;
  --fs-small: clamp(0.85rem, 0.8vw, 1rem);
  --fs-medium: clamp(1rem, 1.2vw, 1.25rem);
  --fs-large: clamp(1.7rem, 3vw, 3rem);
  --fs-extra-large: clamp(3rem, 4vw, 4rem);
}